
<button (click)="get_userlist()">GET Data</button>
<ul>
    <li *ngFor="let user of users">
        id: {{user.id}}
        
    </li>
</ul>

<div class="container">
    <h2>Servis-ui</h2>
    <p>Tarihlere göre servise binme durumu:</p>            
    <table class="table table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>name</th>
          <th>Desctription</th>
          <th>date</th>
          <th>actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>5</td>
          <td>yok</td>
          <td>yarın</td>
          <td>yarın geleceğim</td>
          <td>
            <button type="button" class="btn btn-primary">Edit</button>&nbsp;
            <button type="button" class="btn btn-info">View</button>&nbsp;
            <button type="button" class="btn btn-danger">Delete</button>&nbsp;
          </td>
        </tr>
     </tbody>
    </table>
    <button type="button" class="btn btn-success">Add new user</button>
  </div>